@font-face {
    font-family: 'bauhaus_93regular';
    src: url('font/bauhaus_93_regular-webfont.woff2') format('woff2'),
         url('font/bauhaus_93_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* GENERELT */
body {
    margin: 0 auto;
    background-color: #F7F5F5;
    position: relative;
}

.logo {
    width: 200px;
    cursor: pointer;
    margin-top: 3vw;

}

.burger-button img {
    width: 40px;
    position: absolute;
    right: 4vw;
    top: 5vw;
    cursor: pointer;
}

p {
   font-family: Abadi MT Condensed Light, sans-serif;
    line-height: 1.5rem;
}
h2 {
    font-family: 'bauhaus_93regular';
    font-size: 2.5rem;
    text-align: center;
    font-weight: 100;
    color: #FFFFFF;
}

a {
    font-weight: 200;
     font-family: Abadi MT Condensed Light, sans-serif;
    text-decoration: none;
    text-align: center;
}

 #menu a {
    display: block;
    color: #F7F5F5;
    font-size: 1rem;
     line-height: 70px;
     border-bottom: 1px solid #FFFFFF;
    }

#menu a:hover {
    color: #E86F43;
     }



#menu {
    width: 100%;
    position: fixed;
    background-color: #2F363E;
    height: 557wv;
    top: 20vw
    }

.hide {
    visibility: hidden;
}

header {
    background-color: #F7F5F5;
    width: 100%;
    position: fixed;
    top: 0;
    height: 20vw;
}

.kampagnelogo {

}




/* FOOTER */
footer {
    background-color: #FFFFFF;
     text-align: center;
    padding: 5vw 5vw 10vw 5vw;
    color: #E86F43;
}



h5 {
   font-family: 'bauhaus_93regular';
    font-size: 1.2rem;
    text-align: center;
    font-weight: 100;
    color: #2F363E
}

/* FORSIDE */

#video_sektion {
    background-color: #2F363E;
    height: 150vw;
    margin-top: 20vw;
}
#video_sektion h2 {
    padding-top: 7vw;
}

.button {
    background-color: #E86F43;
    cursor: pointer;
    padding: 4vw;
    margin: 90vw 15vw 5vw 15vw;
    border-radius: 25px;
    text-align: center;

}
.button a {
    color: #FFFFFF;
   font-size: 1rem;

}
.infografik img {
    width: 100%;
}

#infotekst {
    background-color: #2F363E;
    padding: 8vw 4vw 10vw 4vw;
    color: #ffff;
}
#infotekst img {
    width: 35%;
}

#infotekst img, p {
    display:inline;
}


@media only screen and (min-width:750px) {
    .burger-button {
        display: none;
    }
    #menu.hide {
        visibility: visible;
    }
    #menu a {
        margin-right: 2.3vw;
        display: inline-block;
        margin-top: 0.7vw;
        padding-bottom: 1vw;
        color: #2F363E;
        float: right;
        border: none;

}
    #menu {
        background-color: #F7F5F5;
        top: 1vw;
        right: 2vw;
        width: 30vw;
        height: 0vw;

    }
    header {
        height: 12vw;
    }
    #video_sektion {
        margin-top: 10vw;
        padding: 0;
        height: 80vw;
    }
    #video_sektion h2 {
        position: relative;
        top: 1vw;
    }

    .button {
        margin: 40vw 30vw 0vw 30vw;
        border-radius: 50px;
        padding: 2vw;

    }
    #kontakt {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .logo {
        display: none;
    }
    .logo2 {
        visibility: visible;
        width: 230px;
        margin-top: 1vw;
        cursor: pointer;

    }
    .infografik {
        display: none;
    }
    .infografik2 img {
        visibility: visible;
        width: 100%;
    }
    #infotekst {
        padding: 5vw 3vw 5vw 3vw;
    }
    #infotekst img {
        width: 20%
    }
    .circle{
    position: absolute;
     height:45px;
     width:90px;
     border-radius: 90px 90px 0 0;
     background: #FFFFFF;
    top: 2.5vw;
    left: 46.2vw;
        margin: 2vw
    }

    #menu a:hover {
        color: #FFFFFF;
     height:40px;
     width:90px;
     border-radius: 90px 90px 0 0;
     background: #707070;
    top: 3vw;
     }

}

@media only screen and (min-width:1100px) {
    header {
        height: 8vw;
    }
    #video_sektion {
        height: 55vw;
        margin-top: 5vw;

    }
    .button {
        margin: 29vw 35vw 0vw 35vw;
        padding: 1.5vw;
    }
    .logo2 {
        width: 200px;
    }

    #infotekst img {
        width: 15%;

    }
    #infotekst {
       margin-top: -3vw;
    }

}




