@font-face {
    font-family: 'bauhaus_93regular';
    src: url('font/bauhaus_93_regular-webfont.woff2') format('woff2'),
        url('font/bauhaus_93_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* GENERELT */
body {
    margin: 0 auto;
    background-color: #F7F5F5;
    position: relative;
}

.logo {
    width: 200px;
    cursor: pointer;
    margin-top: 3vw;
}

.burger-button img {
    width: 25px;
    position: absolute;
    right: 4vw;
    top: 5vw;
    cursor: pointer;
}

.splash img {
    width: 100%;
    max-width: none;
    position: absolute;
    margin: auto;
}

p {
    font-family: Abadi MT Condensed Light, sans-serif;
    line-height: 1.5rem;
}

h2 {
    font-family: 'bauhaus_93regular';
    font-size: 2rem;
    text-align: center;
    font-weight: 100;
    color: #2F363E;
}

h4 {
    font-family: 'bauhaus_93regular';
    font-size: 1.6rem;
    text-align: center;
    font-weight: 100;
    color: #FFFFFF;
}

a {
    font-weight: 200;
    font-family: Abadi MT Condensed Light, sans-serif;
    text-decoration: none;
    text-align: center;
}

ul {
    font-family: Abadi MT Condensed Light, sans-serif;
    text-align: left;
    line-height: 1.5rem;
    margin: 0;
    padding-left: 0.1;
}

#menu a {
    display: block;
    color: #F7F5F5;
    font-size: 1rem;
    line-height: 70px;
    border-bottom: 1px solid #FFFFFF;
}


#menu a:hover {
    color: #E86F43;
}

#menu {
    width: 100%;
    position: fixed;
    background-color: #2F363E;
    height: 557wv;
    top: 20vw
}

.hide {
    visibility: hidden;
}

header {
    background-color: #F7F5F5;
    width: 100%;
    position: fixed;
    top: 0;
    height: 20vw;
    z-index: 4;
}

h6 {
    font-family: Abadi MT Condensed Light, sans-serif;
    font-size: 1.5rem;
    text-align: center;

}



/* FOOTER */
footer {
    background-color: #FFFFFF;
    text-align: center;
    padding: 5vw 5vw 6vw 5vw;
    margin-top: -3vw;
    color: #E86F43;
}

h5 {
    font-family: 'bauhaus_93regular';
    font-size: 1.2rem;
    text-align: center;
    font-weight: 100;
    color: #2F363E
}

.some_ikoner img {
    width: 10%;
    float: center;
    margin: 8vw 3vw 5vw 3vw;
}

/* FORSIDE */

#start_sektion {
    height: 150vw;
    margin-top: 20vw;
}

#start_sektion h2 {
    position: absolute;
    top: 1vw;
    left: 4vw;
}

.kampagnelogo h2 {
    width: 90%;
}

.button {
    background-color: #E86F43;
    cursor: pointer;
    padding: 4vw;
    border-radius: 25px;
    text-align: center;
    position: absolute;
    width: 30vw;
    left: 30vw;
    top: 180vw;

}

.button a {
    color: #FFFFFF;
    font-size: 1rem;

}

.infografik img {

    width: 100%;
}

#infotekst {
    background-color: #2F363E;
    padding: 8vw 4vw 10vw 4vw;
    color: #ffff;
}

#infotekst img {
    width: 35%;
}

#infotekst img,
p {
    display: inline;
}

.logo2 {
    display: none;
}

.infografik2 {
    display: none;
}

.top {
    margin-top: 50vw;
}

/* OM OS */

.omos {
    background-color: #2F363E;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 3vw 0;
    padding-bottom: 10vw;
}

.omos_sektion {
    margin: 4vw 4vw 0 4vw;
}

.omos_tekst {
    background-color: #F7F5F5;
    padding: 9vw 4vw 7vw 4vw;
    margin-top: -5vw;
    z-index: 1;
}

.omos_sektion h6 {
    background-color: #E86F43;
    width: 50vw;
    padding: 2vw 0 2vw 0;
    margin: auto;
    z-index: 2;
}

.omos_overskrift {
    position: relative;
    z-index: 3;
}

/* TILMELDING */

.tilmelding {
    margin-top: 20vw;
}

input {
    border: none;
    background-color: #2F363E;
    padding: 4vw;
    margin: 2vw 2vw 7vw 2vw;
    cursor: pointer;
    text-align: left;
    color: #F7F5F5;
    width: 88vw;

}

input a {
    font-family: Abadi MT Condensed Light, sans-serif;
    font-weight: 100;
    text-decoration: none;
    font-size: 0.7rem;
}

input::placeholder {
    color: lightgray;
}

.tilmeldbutton a {
    font-family: Abadi MT Condensed Light, sans-serif;
    text-decoration: none;
    color: #2F363E;
    font-size: 0.9rem;
    font-weight: 100;
    color: #2F363E;
    text-decoration: none;

}

.tilmeldbutton {
    background-color: #E86F43;
    padding: 4vw;
    margin: 2vw 2vw 7vw 2vw;
    cursor: pointer;
    text-align: center;

}

.klistremaerke_tekst {
    text-align: center;
    margin: 15vw 3vw 3vw 3vw;
}

.arrow {
    margin: 0 auto;
    width: 40%;
    display: block;

}

.movedown {
    position: relative;
    animation-name: movedown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes movedown {
    0% {
        left: 0px;
        top: 0px;
    }

    100% {
        left: 0px;
        top: 10px;
    }


}

.merch_sticker {
    width: 100%;
    margin-bottom: 10vw;
}

.merch {
    text-align: center;
    margin: 25vw 4vw 5vw 4vw;
}

.merchchandise img {
    width: 95%;
    margin: 3vw;
}

/*** VIDEO PORTFOLIO ***/

iframe {
    margin: 5vw auto;
}

.video_sektion {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 10px;
    height: 0;
    margin: 12vw 3vw 1vw 3vw;

    }

    .video_sektion iframe {
        position: absolute;
        width: 100%;
        height: 90%;
    }
    .video_sektion h5 {
        margin-bottom: 0;
    }

    .video_sektion2 {
        margin-bottom: 25vw;
    }

    .video_sektion_forside {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 10px;
    height: 0;
    margin: 5vw 0vw 15vw 0vw;
}
.video_sektion_forside iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media only screen and (min-width:750px) {
    .burger-button {
        display: none;
    }

    #menu.hide {
        visibility: visible;
    }

    #menu a {
        margin-left: 2.3vw;
        display: inline-block;
        margin-top: 0.7vw;
        padding-bottom: 1vw;
        color: #2F363E;
        border: none;

    }

    #menu {
        background-color: #F7F5F5;
        top: 0.6vw;
        right: 0;
        width: 60vw;
        height: 0vw;

    }

    header {
        height: 11vw;
    }


    .kampagnelogo h2 {
        font-size: 3rem;
    }

    .button {
        top: 12vw;
        left: 4vw;
    }

    .splash img {
        margin: auto 0;
        width: 100
    }

    #start_sektion {
        margin-top: 10vw;
        padding: 0;
        height: 80vw;
    }

    #start_sektion h2 {
        position: relative;
        top: 5vw;
    }

    .button {
        margin: 50vw 30vw 0vw 30vw;
        border-radius: 50px;
        padding: 2vw;

    }

    #kontakt {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .logo {
        display: none;
    }

    .logo2 {
        visibility: visible;
        width: 190px;
        margin-top: 0.5vw;
        cursor: pointer;
        display: block;

    }

    .infografik {
        display: none;
    }

    .infografik2 img {
        visibility: visible;
        width: 100%;

    }

    .infografik2 {
        display: block;
    }

    .top {
        margin-top: 30vw;
    }

    #infotekst {
        padding: 5vw 3vw 5vw 3vw;
        display: flex;
    }

    #infotekst p {
        flex-basis: 400px;
        padding-top: 2vw;
        font-size: 1.2rem;
    }

    #infotekst img {
        flex-basis: 200px;
        flex-grow: 1;
        width: 100%
    }

    #menu a:hover {
        color: #E86F43;

    }

    #omos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .omos_sektion h6 {
    width: 40vw;
    padding: 1vw 0 1vw 0;

}
    .omos_tekst {
        margin-top: -3vw;

    }

    .omos_sektion {
        flex-grow: 400px;
        flex-basis: 1;

    }

    .omos_overskrift {
        position: relative;
    }

    .some_ikoner {
        margin-top: 5vw
    }

    .some_ikoner img {
        width: 10%;
        margin: 2vw 1vw  1vw;
    }

    footer {
        height: 25vw;
    }

    .sektion {
        margin: 0 5vw 0 5vw;
        flex-basis: 250px;
    }


 .video_sektion {
    margin: 7vw 5vw 0vw 10vw;
    }

    .video_sektion iframe {
        height: 80%;
    }

    .video_sektion2 {
        margin-bottom: 10vw;
    }
    /* TILMELDING */

    .merch {
        margin-top: 15vw;
    }

    .tilmelding {
        margin-top: 0vw;
        flex-grow: 200px;
        flex-basis: 1:
    }

    input {
        width: 20vw;
        padding: 1.5vw;
        margin-bottom: 1vw;
        margin-left: 7vw;

    }

    .tilmeldbutton {
        width: 20vw;
        padding: 1.5vw;
        margin-left: 7vw;

    }

    .indhold_tilmeld {
        display: flex;
    }

    .movedown {
        width: 10%;
        height: 15%;
        margin-top: 15vw;

    }
    .arrow {
        transform: rotate(270deg);
    }
    .movedown {
    position: relative;
    animation-name: moveright;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes moveright {
    0% {
        left: 0px;
        top: 0px;
    }

    100% {
        left: 20px;
        top: 0px;
    }


}

    .merch_sticker {
        width: 40%;
        height: 40%;

    }

    .klistremaerke_tekst {
        margin-top: 10vw;
        width: 20vw;
    }

    .merchchandise {
        margin: auto;
    }
    .merchchandise img {
         width: 30%;
        margin-bottom: 5vw;

    }


}

@media only screen and (min-width:1100px) {
    header {
        height: 8vw;
    }

    #menu {
        margin-right: -18vw;
    }

    #start_sektion {
        height: 55vw;
        margin-top: 5vw;

    }

    .button {
        margin-top: 35vw;
        margin-left: 35vw;
        padding: 1.5vw;
        position: sticky;
        width: 25vw;
    }

    .logo2 {
        width: 200px;
    }

    #infotekst {
        display: flex;
    }

    #infotekst p {
        flex-basis: 400px;
        flex-grow: 2;
        margin-top: 5vw;
        font-size: 1.4rem;
    }

    #infotekst img {
        width: 100%;
        flex-basis: 200px;
        flex-grow: 1;
    }

    .top {
        margin-top: 15vw;
    }
    .sektion {
        flex-basis: 400px;
    }
    footer {
        height: 15vw;
    }
    .video_sektion_forside {
    margin: 1vw 10vw 5vw 10vw;

}
.video_sektion_forside iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
}
     .klistremaerke_tekst {
        margin-top: 17vw;

    }
    .omos_tekst {
        margin-top: -2vw;

    }

}
